*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


    @media  screen and (max-width: 780px) {
.body {
    flex-wrap: nowrap;
}
}

body{
    width: 100vw;
    min-height: 100vh;
    padding: 80px;
    font-family: "source sans pro";
}

header{
    display:flex;
    justify-content: space-around;
    padding: 30px;
}

.nav-links{
    display: inline-flex;
    gap: 40px;
    font-family: Source Sans Pro;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
}

.nav-links a{
    color: white;
    text-decoration: none;
    
}

a:hover,
a:active {
  color: #FF6565;
  transition: color 0.3s, opacity 0.3s;
}

#one{
    height: 100%;
}

.main{
    background-image: url(images/headphones_hero_1.jpg);
    width: 100%vw;
    height: 700px;
    flex-shrink: 0;
    color: #FFF;
}

.main-part{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 120vh;
    text-align: center;
    font-size: 22px;
}

#lorem{
    display: flex;
    flex-direction: column;
    border: 0px;
}

.main button{
    background-color: #FF6565;
    color: white;
    width: 162px;
    border-radius: 30px;
    height: 44px;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.50);
    text-decoration: none;
    transition: color 0.3s,
}

button:hover,
button:active {
  opacity: 0.9;
  color: #FF6565;
}



.main-two{
    background-color: white;
    width: 100%vw;
}

#main-two{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
    height: 100vh;
    text-align: center;
}

.what{
    height: 2vh;
}

#logo{
    display: flex;
    gap: 70px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.logo-one{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-two{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-three{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-four{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-three{
    background-image: url(images/headphones_hero_2.jpg);
    width: 100%vw;
    height: 700px;
}

#main-three{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    text-align: center;
    gap: 0px;
    color: white;
}

#main-three h2{
    font-size: 32px;
}

#main-three h2 p{
    font-size: 16px;
}

#our{
    margin-bottom: 0px;
}

.pentagon {
    width: 190px;
    height: 190px;
    position: relative;
}

.pentagon img {
    width: 100%;
    height: 100%;
}

.pentagon_text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 46px;
    font-weight: 700;
    color: white;
    padding: 0;
    margin: 0;
}

.pentagon_subtext {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-80%);
    font-size: 11px;
    font-weight: 400;
    color: white;
    padding: 0;
    margin: 0;
}

.pent{
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 200px;
    flex-wrap: wrap;
}

.main-four{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 1400px;
    height: 700px;
}

#fillup{
    display: flex;
    flex-direction: column;
    gap: 15px;
    resize: none;
}

input{
    border: none;
    outline: none;
    background: none;
}

#name{
    border-top: 2px solid gray;
}

#email{
    border-top: 2px solid gray;
}

textarea{
    border: none;
    outline: none;
    background: none;
}

#message{
    border-top: 2px solid gray;;
}

.main-four button{
    width: 168px;
    border-radius: 30px;   
}

footer{
    background-image: url(images/footer_background.png);
    width: 100%vw;
    height: 249px;
    flex-shrink: 0;
}

.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80%;
    flex-wrap: wrap;
}

#footer{
    display: flex;
    justify-content: center;
    color: #FFF;
}